{% extends "bootstrap/base.html" %}
{% block title %}This is an example page{% endblock %}

{% block metas %}
{{super()}}
<meta http-equiv="refresh" content="2"/>
{% endblock %}

{% block navbar %}
<div class="navbar navbar-fixed-topi navbar-dark bg-dark">

</div>
{% endblock %}

{% block content %}
  <div class="bg-dark bg-gradient">
  <div class="d-grid gap-2">
    {% for event in events %}
      <form method="POST" role="form" class="form-horizontal"
        action="{{ url_for('btn_action', action=event.name) }}">
        <input type="submit" class="btn btn-danger btn-large" value="{{event.name}}"/>
      </form>
    {% endfor %}
  </div>
  <table class="table table-striped table-dark">
    <thead> <tr>
      <th scope="col">#</th>
      <th scope="col">DID</th>
      <th scope="col">Role</th>
      <th scope="col">State</th>
      <th scope="col">Since</th>
    </tr></thead>
    <tbody>
  {% for did in nodes.node_roles %}
      <tr>
        <th scope="col">{{ loop.index }}</th>
        <td>{{ did }}</td>
        <td>{{ nodes.node_roles[did] }}</td>
        <td>{{ nodes.node_states[did] }}</td>
        <td>{{ '%0.2f' | format(now - nodes.node_seen[did]) }}</td>
      </tr>
  {% endfor %}
    </tbody>
  </table>
  </div>
{% endblock %}